In [ ]:
#THESE SCRIPTS TAKE US FROM RAW DATA TO THE TABLES WE HAVE IN OUR SCHEMA - SEE movie_db_model.png

In [1]:
import pandas as pd
import numpy as np
from itertools import chain

c:\python37\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
##BEGIN CREATION OF DIRECTOR_LOOKUP AND WRITER_LOOKUP TABLES
df_name_basics = pd.read_csv('raw_data/name_basics.tsv', sep='\t')
print(list(df_name_basics))

['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession', 'knownForTitles']

In [3]:
print(df_name_basics[:10])

      nconst      primaryName birthYear deathYear  \
0  nm0000001     Fred Astaire      1899      1987
1  nm0000002    Lauren Bacall      1924      2014
2  nm0000003  Brigitte Bardot      1934        \N
3  nm0000004     John Belushi      1949      1982
4  nm0000005   Ingmar Bergman      1918      2007
5  nm0000006   Ingrid Bergman      1915      1982
6  nm0000007  Humphrey Bogart      1899      1957
7  nm0000008    Marlon Brando      1924      2004
8  nm0000009   Richard Burton      1925      1984
9  nm0000010     James Cagney      1899      1986

                primaryProfession                           knownForTitles
0  soundtrack,actor,miscellaneous  tt0072308,tt0050419,tt0053137,tt0043044
1              actress,soundtrack  tt0037382,tt0071877,tt0117057,tt0038355
2     actress,soundtrack,producer  tt0049189,tt0054452,tt0057345,tt0059956
3         actor,writer,soundtrack  tt0080455,tt0072562,tt0077975,tt0078723
4           writer,director,actor  tt0060827,tt0083922,tt0050976,tt0050986
5     actress,soundtrack,producer  tt0034583,tt0038787,tt0071877,tt0038109
6       actor,soundtrack,producer  tt0043265,tt0033870,tt0034583,tt0037382
7       actor,soundtrack,director  tt0068646,tt0047296,tt0078788,tt0070849
8       actor,producer,soundtrack  tt0087803,tt0057877,tt0059749,tt0061184
9       actor,soundtrack,director  tt0035575,tt0055256,tt0029870,tt0031867

In [4]:
#one row for each comma separated cell value, inspired by:
#https://stackoverflow.com/questions/50731229/split-cell-into-multiple-rows-in-pandas-dataframe

# return list from series of comma-separated strings
def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

#Need to convert 'primaryProfession' column to string, for some reason
df_name_basics['primaryProfession'] = df_name_basics['primaryProfession'].astype(str)

# calculate lengths of splits
lens = df_name_basics['primaryProfession'].str.split(',').map(len)

# create new dataframe, repeating or chaining as appropriate
                        #Repeating columns
df_name_basics_flat = pd.DataFrame({'nconst': np.repeat(df_name_basics['nconst'], lens),
                    'primaryName': np.repeat(df_name_basics['primaryName'], lens),
                    'birthYear': np.repeat(df_name_basics['birthYear'], lens),
                    'deathYear': np.repeat(df_name_basics['deathYear'], lens),
                    #Newly split column
                    'primaryProfession': chainer(df_name_basics['primaryProfession'])})


print(df_name_basics_flat[:20])

      nconst      primaryName birthYear deathYear primaryProfession
0  nm0000001     Fred Astaire      1899      1987        soundtrack
0  nm0000001     Fred Astaire      1899      1987             actor
0  nm0000001     Fred Astaire      1899      1987     miscellaneous
1  nm0000002    Lauren Bacall      1924      2014           actress
1  nm0000002    Lauren Bacall      1924      2014        soundtrack
2  nm0000003  Brigitte Bardot      1934        \N           actress
2  nm0000003  Brigitte Bardot      1934        \N        soundtrack
2  nm0000003  Brigitte Bardot      1934        \N          producer
3  nm0000004     John Belushi      1949      1982             actor
3  nm0000004     John Belushi      1949      1982            writer
3  nm0000004     John Belushi      1949      1982        soundtrack
4  nm0000005   Ingmar Bergman      1918      2007            writer
4  nm0000005   Ingmar Bergman      1918      2007          director
4  nm0000005   Ingmar Bergman      1918      2007             actor
5  nm0000006   Ingrid Bergman      1915      1982           actress
5  nm0000006   Ingrid Bergman      1915      1982        soundtrack
5  nm0000006   Ingrid Bergman      1915      1982          producer
6  nm0000007  Humphrey Bogart      1899      1957             actor
6  nm0000007  Humphrey Bogart      1899      1957        soundtrack
6  nm0000007  Humphrey Bogart      1899      1957          producer

In [5]:
#Filter on actors, writers, and directors, all in their own dataframes
df_actors = df_name_basics_flat.loc[df_name_basics_flat['primaryProfession'].isin(['actor','actress'])]
df_directors = df_name_basics_flat.loc[df_name_basics_flat['primaryProfession'].isin(['director'])]
df_writers = df_name_basics_flat.loc[df_name_basics_flat['primaryProfession'].isin(['writer'])]

print(df_actors.head())
print(df_directors.head())
print(df_writers.head())

      nconst      primaryName birthYear deathYear primaryProfession
0  nm0000001     Fred Astaire      1899      1987             actor
1  nm0000002    Lauren Bacall      1924      2014           actress
2  nm0000003  Brigitte Bardot      1934        \N           actress
3  nm0000004     John Belushi      1949      1982             actor
4  nm0000005   Ingmar Bergman      1918      2007             actor
       nconst       primaryName birthYear deathYear primaryProfession
4   nm0000005    Ingmar Bergman      1918      2007          director
7   nm0000008     Marlon Brando      1924      2004          director
9   nm0000010      James Cagney      1899      1986          director
18  nm0000019  Federico Fellini      1920      1993          director
23  nm0000024      John Gielgud      1904      2000          director
       nconst       primaryName birthYear deathYear primaryProfession
3   nm0000004      John Belushi      1949      1982            writer
4   nm0000005    Ingmar Bergman      1918      2007            writer
18  nm0000019  Federico Fellini      1920      1993            writer
23  nm0000024      John Gielgud      1904      2000            writer
26  nm0000027     Alec Guinness      1914      2000            writer

In [6]:
#Rename actor columns
df_actors.columns=['actor_id','primaryName','birthYear','deathYear','primaryProfession']
#Drop the primaryProfession column
df_actors = df_actors.drop(['primaryProfession'], axis=1)
#Drop duplicates
df_actors = df_actors.drop_duplicates(subset=['actor_id'])
#Then output to csv
print(df_actors.head())
print("--------------")
df_actors.to_csv('app_data/actor.csv', index=False)


#Do the same for directors and writers
df_directors.columns=['director_id','primaryName','birthYear','deathYear','primaryProfession']
df_directors = df_directors.drop(['primaryProfession'], axis=1)
#Drop duplicates
df_directors = df_directors.drop_duplicates(subset=['director_id'])
print(df_directors.head())
print("--------------")
df_directors.to_csv('app_data/director.csv', index=False)

df_writers.columns=['writer_id','primaryName','birthYear','deathYear','primaryProfession']
df_writers = df_writers.drop(['primaryProfession'], axis=1)
#Drop duplicates
df_writers = df_writers.drop_duplicates(subset=['writer_id'])
print(df_writers.head())
df_writers.to_csv('app_data/writer.csv', index=False)

    actor_id      primaryName birthYear deathYear
0  nm0000001     Fred Astaire      1899      1987
1  nm0000002    Lauren Bacall      1924      2014
2  nm0000003  Brigitte Bardot      1934        \N
3  nm0000004     John Belushi      1949      1982
4  nm0000005   Ingmar Bergman      1918      2007
--------------
   director_id       primaryName birthYear deathYear
4    nm0000005    Ingmar Bergman      1918      2007
7    nm0000008     Marlon Brando      1924      2004
9    nm0000010      James Cagney      1899      1986
18   nm0000019  Federico Fellini      1920      1993
23   nm0000024      John Gielgud      1904      2000
--------------
    writer_id       primaryName birthYear deathYear
3   nm0000004      John Belushi      1949      1982
4   nm0000005    Ingmar Bergman      1918      2007
18  nm0000019  Federico Fellini      1920      1993
23  nm0000024      John Gielgud      1904      2000
26  nm0000027     Alec Guinness      1914      2000

In [26]:
#Print columns headers for manual population into MySQL workbench
print(list(df_actors))
print(list(df_directors))
print(list(df_writers))

['actor_id', 'primaryName', 'birthYear', 'deathYear']
['director_id', 'primaryName', 'birthYear', 'deathYear']
['writer_id', 'primaryName', 'birthYear', 'deathYear']