In [ ]:
#THESE SCRIPTS TAKE US FROM RAW DATA TO THE TABLES WE HAVE IN OUR SCHEMA - SEE movie_db_model.png

In [1]:
import pandas as pd
import numpy as np
from itertools import chain

In [2]:
##BEGIN CREATION OF DIRECTOR_LOOKUP AND WRITER_LOOKUP TABLES
df_title_basics = pd.read_csv('raw_data/title_basics.tsv', sep='\t')
print(list(df_title_basics))

c:\python37\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres']

In [3]:
print(df_title_basics[:10])

      tconst titleType                                 primaryTitle  \
0  tt0000001     short                                   Carmencita
1  tt0000002     short                       Le clown et ses chiens
2  tt0000003     short                               Pauvre Pierrot
3  tt0000004     short                                  Un bon bock
4  tt0000005     short                             Blacksmith Scene
5  tt0000006     short                            Chinese Opium Den
6  tt0000007     short  Corbett and Courtney Before the Kinetograph
7  tt0000008     short       Edison Kinetoscopic Record of a Sneeze
8  tt0000009     movie                                   Miss Jerry
9  tt0000010     short        Employees Leaving the Lumière Factory

                                 originalTitle  isAdult startYear endYear  \
0                                   Carmencita        0      1894      \N
1                       Le clown et ses chiens        0      1892      \N
2                               Pauvre Pierrot        0      1892      \N
3                                  Un bon bock        0      1892      \N
4                             Blacksmith Scene        0      1893      \N
5                            Chinese Opium Den        0      1894      \N
6  Corbett and Courtney Before the Kinetograph        0      1894      \N
7       Edison Kinetoscopic Record of a Sneeze        0      1894      \N
8                                   Miss Jerry        0      1894      \N
9          La sortie de l'usine Lumière à Lyon        0      1895      \N

  runtimeMinutes                    genres
0              1         Documentary,Short
1              5           Animation,Short
2              4  Animation,Comedy,Romance
3             \N           Animation,Short
4              1              Comedy,Short
5              1                     Short
6              1               Short,Sport
7              1         Documentary,Short
8             45                   Romance
9              1         Documentary,Short

In [4]:
#Rename title columns
df_title_basics.columns=['title_id', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes']

#Replace all comman with semicolons to enable database import later
df_title_basics['genres'] = df_title_basics['genres'].str.replace(',', ';')

#Filter out null startYear values
df_title_basics = df_title_basics.loc[~df_title_basics['startYear'].isin(['\\N'])]

#Change votes and rating to numeric data types
df_title_basics['numVotes'] = df_title_basics['numVotes'].astype(str).astype(int)
df_title_basics['averageRating'] = df_title_basics['averageRating'].astype(str).astype(float)

#Sort descending by rating
df_title_basics = df_title_basics.sort_values('averageRating', ascending=False)

#then by number of votes
df_title_basics = df_title_basics.sort_values('numVotes', ascending=False)

#Drop duplicates
df_title_basics = df_title_basics.drop_duplicates(subset=['title_id'])

#Cut out all but the top 10000 records
df_title_basics = df_title_basics.head(10000)

#Then output to csv
print(df_title_basics.head())
df_title_basics.to_csv('app_data/title.csv', index=False)

          title_id titleType                               primaryTitle  \
3505315  tt5174640     movie                                  100 Years
3713339  tt5637536     movie                                   Avatar 5
2585282  tt3095356     movie                                   Avatar 4
5150399  tt8743690     movie     Test In-Dev Title 2: Electric Boogaloo
3941865  tt6149054     movie  Fantastic Beasts and Where to Find Them 5

                                     originalTitle  isAdult  startYear  \
3505315                                  100 Years        0       2115
3713339                                   Avatar 5        0       2025
2585282                                   Avatar 4        0       2024
5150399     Test In-Dev Title 2: Electric Boogaloo        0       2024
3941865  Fantastic Beasts and Where to Find Them 5        0       2024

        endYear runtimeMinutes                    genres
3505315      \N             \N                     Drama
3713339      \N             \N  Action;Adventure;Fantasy
2585282      \N             \N  Action;Adventure;Fantasy
5150399      \N             \N                    Action
3941865      \N             \N  Adventure;Family;Fantasy

In [10]:
#print column headers for manual population in MySQL workbench
print(list(df_title_basics))

['title_id', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres']